genome-scores.csv
movies.csv
ratings.csv
tags.csv
genome-tags.csv
svd_model.pkl
svd_model_sampled.pkl
sampled_ratings.pkl
links_2000.pkl
filtered_genome.pkl
movies_2000.pkl
genome_reviews.pkl
links_reviews.pkl
svd_model_reviews.pkl
reviewed_movies.pkl
ratings_reviews.pkl
